{{> adminNavP}}
		<div class="container">
			<div class="row justify-content-center my-3">
				<h2>Lịch sử hoạt động</h2>
			</div>

			<!-- Lịch sử chuyển trạng thái -->
			<div class="row mb-3">
				<h3>Lịch sử chuyển trạng thái</h3>
			</div>
			<div class="row justify-content-center">
				<div class="table-responsive" style="max-height: 250px">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Tên bệnh nhân</th>
								<th scope="col">Từ trạng thái</th>
								<th scope="col">Chuyển sang</th>
								<th scope="col">Ngày chuyển</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Nguyễn Văn A</td>
								<td>F2</td>
								<td>F1</td>
								<td>2021-12-12</td>
							</tr>
							<tr>
								<td>1</td>
								<td>Trần Thị B</td>
								<td>F2</td>
								<td>F1</td>
								<td>2021-12-12</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- Lịch sử chuyển nơi điều trị -->
			<div class="row mb-3">
				<h3>Lịch sử chuyển nơi điều trị</h3>
			</div>
			<div class="row justify-content-center">
				<div class="table-responsive" style="max-height: 250px">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Tên bệnh nhân</th>
								<th scope="col">Chuyển cơ sở từ</th>
								<th scope="col">Đến</th>
								<th scope="col">Ngày chuyển</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Nguyễn Văn A</td>
								<td>Bệnh viện Chợ Rẫy</td>
								<td>Khu cách ly số 1</td>
								<td>2021-12-12</td>
							</tr>
							<tr>
								<td>1</td>
								<td>Trần Thị B</td>
								<td>Khu cách ly số 1</td>
								<td>Bệnh viện giã chiến Thủ Đức</td>
								<td>2021-12-20</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- Lịch sử chỉnh sửa sản phẩm -->
			<div class="row mb-3">
				<h3>Lịch sử chỉnh sửa sản phẩm</h3>
			</div>
			<div class="row justify-content-center">
				<div class="table-responsive" style="max-height: 250px">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Tên sản phẩm</th>
								<th scope="col">Ngày chỉnh sửa</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Sản phẩm 1</td>
								<td>2021-12-12</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Sản phẩm 2</td>
								<td>2021-12-13</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Lịch sử chỉnh sửa gói sản phẩm -->
			<div class="row mb-3">
				<h3>Lịch sử chỉnh sửa gói sản phẩm</h3>
			</div>
			<div class="row justify-content-center">
				<div class="table-responsive" style="max-height: 250px">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Tên gói</th>
								<th scope="col">Ngày chỉnh sửa</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Gói 1</td>
								<td>2021-12-12</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Gói 2</td>
								<td>2021-12-13</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>