{{> adminNavP}}
		<div class="container">
			<form action="/facilities/create" method="post">
				<div class="row justify-content-center my-3">
					<h2>Thêm cơ sở điều trị</h2>
				</div>

				<div class="row form-group">
					<div class="col-4"></div>
					<label for="facilityName" class="col-sm-2 col-form-label"
						><h6>Tên địa điểm:</h6>
					</label>
					<div class="col-sm-3">
						<input
							class="form-control"
							id="inputFacilityName"
							name="facilityName"
							placeholder="Tên địa điểm"
						/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-4"></div>
					<label for="capacity" class="col-sm-2 col-form-label">
						<h6>Sức chứa:</h6>
					</label>
					<div class="col-sm-3">
						<input
							type="number"
							class="form-control"
							id="inputCapacity"
							name="capacity"
							placeholder="Sức chứa"
						/>
					</div>
				</div>
				
				<div class="row justify-content-center">
					<button class="btn btn-primary" type="submit">
						+ Thêm cơ sở điều trị
					</button>
				</div>
			</form>
		</div>