{{> adminNavP}}
		<div class="container">
			<form action="/facilities/edit/{{facilityId}}?_method=PUT" method="post">
				<div class="row justify-content-center my-3">
					<h2>Chỉnh sửa cơ sở điều trị</h2>
				</div>

				<div class="row form-group">
					<div class="col-4"></div>
					<label for="facilityName" class="col-sm-2 col-form-label"
						><h6>Tên hiện tại:</h6>
					</label>
					<div class="col-sm-3">
						<h6 class="form-control">{{name}}</h6>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-4"></div>
					<label for="capacity" class="col-sm-2 col-form-label">
						<h6>Sức chứa hiện tại:</h6>
					</label>
					<div class="col-sm-3">
						<h6 class="form-control">{{capacity}}</h6>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-4"></div>
					<label for="currentAmount" class="col-sm-2 col-form-label">
						<h6>Tên mới: </h6>
					</label>
					<div class="col-sm-3">
						<input
							type="text"
							class="form-control"
							id="inputNewFacilityName"
							name="facilityName"
							placeholder="Tên mới"
						/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-4"></div>
					<label for="currentAmount" class="col-sm-2 col-form-label">
						<h6>Số lượng mới:</h6>
					</label>
					<div class="col-sm-3">
						<input
							type="number"
							min={{currentAmount}}
							class="form-control"
							id="inputNewCapacity"
							name="capacity"
							placeholder="Sức chứa mới"
						/>
					</div>
				</div>

				<div class="row justify-content-center">
					<button class="btn btn-primary" type="submit">
						+ Lưu chỉnh sửa
					</button>
				</div>
			</form>
		</div>