{{> manageNavP}}
<div class="container">
    <div class="card mx-auto">
        <div class="card-body">
            <form  method="post" onsubmit="return checkNewPass()">
                <div class="form-group">
                    <input class="form-control" name="username" hidden id="username"  value="{{username}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Current password</label>
                    <input type="password" class="form-control" name="curPassword" id="curPassword"  placeholder="Password" required>
                </div>
                <div class="form-group text-center"><small id="emailHelp" class="form-text text-danger">{{error}}</small></div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="password"  placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm password</label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>


<script src='/js/account/script.js'></script>