<nav
	class='navbar navbar-expand-sm navbar-light'
	style='background-color: #e3f2fd'
>
	<a class='navbar-brand' href='/admin'>Admin Covid</a>
	<button
		class='navbar-toggler'
		type='button'
		data-toggle='collapse'
		data-target='#navbarNavDropdown'
		aria-controls='navbarNavDropdown'
		aria-expanded='false'
		aria-label='Toggle navigation'
	>
		<span class='navbar-toggler-icon'></span>
	</button>
	<div class='collapse navbar-collapse' id='navbarNavDropdown'>
		<ul class='navbar-nav mr-auto'>
			{{!-- <li class='nav-item'>
				<a class='nav-link' href='/admin/create'>Tạo tài khoản admin</a>
			</li> --}}
		</ul>
		<ul class='navbar-nav'>
			<a href='/account/logout'>
				<button class='btn btn-danger'>Đăng xuất</button>
			</a>
		</ul>
	</div>
</nav>