{{> manageNavP}}
		<div class="container">
			<div class="row justify-content-center mt-3">
				<h1>Thống kê thanh toán</h1>
			</div>

			<div class="row justify-content-center">
				<div class="table-responsive">
					<table class="table" style="max-height: 300px">
						<thead>
							<tr>
								<th scope="col">Họ tên</th>
								<th scope="col">Tên gói</th>
								<th scope="col">Số tiền phải thanh toán</th>
								<th scope="col">Ngày</th>
							</tr>
						</thead>
						<tbody>
							{{#each boughtList}}
							<tr>
								<td>{{patientName}}</td>
								<td>{{packageName}}</td>
								<td>{{total}}đ</td>
								<td>{{date}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>