{{> manageNavP}}
		<div class="container">
			<div class="row justify-content-center mt-3">
				<h1>Thống kê gói nhu yếu phẩm tiêu thụ</h1>
			</div>
			<div class="row w-50 border mx-auto">
				<canvas id="myChart"></canvas>
			</div>
			<div class="row justify-content-center my-5">
				<table class="table w-75">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Tên gói</th>
							<th scope="col">Đã bán</th>
						</tr>
					</thead>
					<tbody>
						{{#each packageConsumptionList}}
						<tr>
							<th scope="row">{{this.packageId}}</th>
							<td>{{this.packageName}}</td>
							<td>{{this.soldAmount}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		<script>
			let myChart = document.getElementById('myChart').getContext('2d');

			let casesChart = new Chart(myChart,{
				type:'bar',
				data: {
					labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
					datasets:[{
						label: 'Gói nhu yếu phẩm tiêu thụ',
						data: [65, 59, 80, 81, 56, 55, 40],
						backgroundColor: [
						"rgba(54, 162, 235, 0.2)",
						],
						borderColor: ["rgba(54, 162, 235)"],
						borderWidth: 1,
					}]},
				options: {}
				});

		</script>