{{> manageNavP}}
		<div class="container">
			<div class="row justify-content-center mt-3">
				<h1>Thống kê lượng nhu yếu phẩm tiêu thụ</h1>
			</div>
			<div class="row justify-content-center my-5">
				<table class="table w-75">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Tên nhu yếu phẩm</th>
							<th scope="col">Đã bán</th>
							<th scope="col">Đơn vị tính</th>
						</tr>
					</thead>
					<tbody>
						{{#each productConsumptionList}}
						<tr>
							<th scope="row">{{this.productId}}</th>
							<td>{{this.productName}}</td>
							<td>{{this.soldAmount}}</td>
							<td>{{this.productUnit}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>