{{> manageNavP}}
		<div class="container">
			<div class="row justify-content-center mt-3">
				<h1>Thống kê lượng nhu yếu phẩm tiêu thụ</h1>
			</div>
			<div class="row justify-content-center my-5">
				{{!-- Bảng dữ liệu --}}
				<div class="col-8">
					<table class="table w-75">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Tên nhu yếu phẩm</th>
							<th scope="col">Đã bán</th>
							<th scope="col">Đơn vị tính</th>
						</tr>
					</thead>
					<tbody>
						{{#each productConsumptionList}}
						<tr>
							<th scope="row">{{this.productId}}</th>
							<td>{{this.productName}}</td>
							<td>{{this.soldAmount}}</td>
							<td>{{this.productUnit}}</td>
						</tr>
						{{/each}}
					</tbody>
					</table>
				</div>

				<div class="col-4">
					<canvas id="myChart"></canvas>

				</div>
			</div>
		</div>

		<script>
			let myChart = document.getElementById('myChart').getContext('2d');

			let casesChart = new Chart(myChart,{
				type:'pie',
				data: {
					labels: ['Thịt heo', 'Thịt gà', 'Khẩu trang', 'Nước rửa tay'],
					datasets:[{
						label: 'Trạng thái',
						data: [44, 12, 50, 20, 33],
						backgroundColor: [
							'rgba(75, 192, 192, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 99, 132, 0.2)',
							'rgba(255, 159, 64, 0.2)',
							'rgba(153, 102, 255, 0.2)',
						],
						borderColor: [
							'rgba(75, 192, 192, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 159, 64, 1)',
							'rgba(153, 102, 255, 1)'
						]
						}]},
				options: {}
				});

		</script>