{{> patientNavP}}
		<div class="container">
			<form>
				<div class="row justify-content-center">
					<h2>Điều chỉnh nhu yếu phẩm</h2>
				</div>

				<div class="row mt-3">
					<div class="col-4"></div>
					<div class="col-2">
						<h6>Tên sản phẩm:</h6>
						<h6>Giá tiền:</h6>
						<h6>Đơn vị định lượng:</h6>
						<h6>Hình ảnh:</h6>
					</div>
					<div class="col-4">
						<h6>{{name}}</h6>
						<h6>{{price}}</h6>
						<h6>{{unit}}</h6>
						<h6>//</h6>
					</div>
					<div class="col-3"></div>
				</div>
		

				<div class="row justify-content-center">
					<button class="btn btn-primary" id="submitBtn" type="submit">Lưu thay đổi</button>
				</div>
			</form>
		</div>

	<h1 id="productId" style="display: none">{{product_id}}</h1>
	<script src="/js/products/editProductScript.js"></script>